---
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";

import BriefcaseIcon from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import ProfileCheckIcon from "../components/icons/ProfileCheck.astro";
---

<Layout
  title="Portafolio de Fabian - Ingeniero en Informática Mención Desarrollo de Sistemas - Desarrollador y Programador Web Junior"
  description="Contrata a Fabian Jara para Crear tu Aplicación. Ingeniero Informático, Desarrollador y Programador Web. Especialista en Crear Aplicación Únicas"
>
  <main class="ml-4 mr-4">
    <SectionContainer id="inicio" class="flex justify-center sm:mt-32 mt-24">
      <Hero />
    </SectionContainer>

    <SectionContainer id="experiencia" class="sm:mt-52 mt-20">
      <h2
        class="flex items-center py-09 px-0 sm:px-4 mb-6 sm:text-4xl text-3xl font-semibold text-gray-900 dark:text-white"
      >
        <BriefcaseIcon class="size-8 mr-4" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos" class="py-4 sm:px-4 mt-16">
      <h2
        class="sm:text-4xl text-3xl dark:text-white text-gray-900 font-semibold mb-6 flex gap-x-3 items-center"
      >
        <CodeIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="py-4 sm:px-4 mt-16">
      <h2
        class="sm:text-4xl text-3xl text-gray-900 dark:text-white font-semibold mb-6 flex gap-x-3 items-center"
      >
        <ProfileCheckIcon class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
