---
const personalImageAlt = "Fabian Jara";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-200 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Fabián Alexis Jara Rojas, <strong
        >graduado en Ingeniería en Informática con mención en Desarrollo de
        Sistemas en el Instituto AIEP</strong
      >. Estoy dando mis primeros pasos en el mundo de la ingeniería informática
      y el desarrollo web, donde estoy demostrando habilidades emergentes en
      liderazgo, proactividad y resolución de problemas.
    </p>
    <p>
      <strong
        >Mi objetivo es convertirme en un desarrollador full stack competente</strong
      >. Actualmente, estoy explorando tecnologías como <em
        class="italic text-green-400">Astro, Python y MySQL,</em
      > y estoy emocionado por aprender y crecer en este campo en constante evolución.
    </p>
    <p>
      Mi compromiso con el aprendizaje continuo y mi pasión por la resolución de
      problemas me impulsan a buscar desafíos en el desarrollo y la ingeniería
      informática. <strong
        >Estoy emocionado por embarcarme en esta emocionante aventura y
        colaborar en proyectos que impulsen el cambio y la innovación.</strong
      > ¡Espero contar contigo en este viaje emocionante!
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/fabian-foto1.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-full bg-black/20 ring-1 ring-black/70"
    style="object-position: 50% 50%"
  />
</article>

<!-----

  <section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-green-400 [&>p>strong]:font-semibold text-pretty md:order-1">
      <p>
        ¡Hola! Soy Fabián Alexis Jara Rojas, <strong
        >graduado en Ingeniería en Informática con mención en Desarrollo de
        Sistemas en el Instituto AIEP</strong
        >. Estoy dando mis primeros pasos en el mundo de la ingeniería informática
        y el desarrollo web, donde estoy demostrando habilidades emergentes en
      liderazgo, proactividad y resolución de problemas.
    </p>
    <p>
      <strong
      >Mi objetivo es convertirme en un desarrollador full stack competente</strong
      >. Actualmente, estoy explorando tecnologías como <em class="italic text-yellow-200"
      >Astro, Python y MySQL,</em
      > y estoy emocionado por aprender y crecer en este campo en constante evolución.
    </p>
    <p>
      Mi compromiso con el aprendizaje continuo y mi pasión por la resolución de
      problemas me impulsan a buscar desafíos en el desarrollo y la
      ingeniería informática. <strong>Estoy emocionado por embarcarme en esta
        emocionante aventura y colaborar en proyectos que impulsen el cambio y la
        innovación.</strong> ¡Espero contar contigo en este viaje emocionante!
      </p>
    </div>
    <img src="/fabian-foto1.webp" class="rounded-full size-72 order-1 object-cover md:order-2" alt="">
  </section>
  
  --- -->
