<div
  class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-200 dark:bg-black
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(74,216,125,0.20),rgba(255,255,255,0))]"
>
  <!--
<div class="top-0 bottom-0 z-[-2] min-h-screen w-full fixed inset-0 overflow-hidden scale-110">
  <img
    id="background"
    src="/Fondo-dragones.webp"
    alt="Fondo de dragones"
    class="w-full h-full object-cover brightness-50"
  />
</div>

<script>
  const background = document.getElementById("background");

  // Definir la velocidad de movimiento
  const speedX: number = 0.1; // Modifica estas velocidades según lo rápido que quieras que se mueva el fondo
  const speedY: number = 0.05;

  // Pre calcular funciones sin y cos
  const sinFunc = (x: number): number => Math.sin(x);
  const cosFunc = (x: number): number => Math.cos(x);

  // Función para mover el fondo automáticamente
  function moveBackground() {
    const now: number = performance.now();
    const moveX: number = sinFunc((now * speedX) / 100) * 5;
    const moveY: number = cosFunc((now * speedY) / 100) * 5;

    if (background) { // Verificar si el elemento de fondo existe
      background.style.transform = `translate(${moveX}px, ${moveY}px)`;
    }
  }

  // Mover el fondo automáticamente inicialmente
  moveBackground();

  // Actualizar la posición del fondo en intervalos regulares
  setInterval(moveBackground, 50); // Ajusta el intervalo de tiempo según la velocidad deseada
</script>
 -->
</div>
