---
const currentYear = new Date().getFullYear()
---

<footer
  class="flex justify-center sm:text-xl"
>
  <div
    class="py-20"
  >
    <span class="dark:text-gray-300 text-gray-900"
      >© {currentYear}
      <a class="hover:underline">Fabián Jara</a>. Creditos de diseño a MiduDev.
    </span>
    
    <ul
      class="flex justify-center mt-3 text-green-900 dark:text-green-400"
    >
      <li>
        <a href="/#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a id="contacto" href="mailto:alexisrojasfabian@gmail.com" class="hover:underline"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
