---
const currentYear = new Date().getFullYear()
---

<footer
  class="flex justify-center"
>
  <div
    class="py-20"
  >
    <span class="text-gray-300"
      >© {currentYear}
      <a class="hover:underline">Fabian Jara</a>. Credit by MiduDev.
    </span>
    
    <ul
      class="flex justify-center mt-3"
    >
      <li>
        <a href="/#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a id="contacto" href="mailto:alexisrojasfabian@gmail.com" class="hover:underline"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
