<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class={`
    text-white sm:text-base text-xl
    backdrop-blur bg-green-200/10 
    border border-white/10 rounded-full 
    flex justify-center items-center gap-x-2 
    py-1 px-2 md:py-2 md:px-4 
    transition
    hover:scale-110 hover:bg-green-400/50 `}
>
  <slot />
</a>
